[Unit]
Description=BXT Talent - Backup Service
After=network.target

[Service]
WorkingDirectory=/var/www/bxt_talent/backup
Environment=NODE_ENV=production
Environment=MF_SALT=3b0845500ba7c3f49fb28839c53ca8e05b395774621bd16b50aba55b0ccb7312aae1c0b47549089efe444d41e55e089e983341ed98c861d9599bae3b111e0a84
Environment=MF_API_KEY=2429zxl1xy023otwmpgqo38awdczlu
Environment=PANEL_SALT=0lQ2LVsXt72Jwz09wbWUkwF1iboVgnvftAB33lP4zKDRPy0R9MXsNHlgiJtJLel1oUXNThvchbxy83T2YhDYC2KxuWTdOMT1x24S
Environment=PANEL_API_TOKEN=FrAczTzMRhfIdnqcTSxevnn1YoZMtnsmJu6pDHGr
Environment=BASE_URL=https://bxt.managerfashion.net

Type=simple
User=root
ExecStart=/usr/bin/npm run backup
Restart=on-failure

[Install]
WantedBy=multi-user.target